<form class="layui-form" lay-filter="form">
    {:form_input('name', 'text', ['label' => 'Name', 'verify' => ''], '')}
{:form_input('ip', 'text', ['label' => 'Ip', 'verify' => ''], '')}
{:form_input('user', 'text', ['label' => 'User', 'verify' => ''], '')}
{:form_input('department', 'text', ['label' => 'Department', 'verify' => ''], '')}
{:form_input('online_status', 'text', ['label' => 'OnlineStatus', 'verify' => ''], '')}
{:form_select('database_type',
                            ['Mysql'=>'Mysql',
                            'Oracle'=>'Oracle',
                            '达梦'=>'达梦',
							'人大金仓'=>'人大金仓',
                           ],
                            ['label'=>'数据库类型','search'=>1])
}
{:form_input('db_username', 'text', ['label' => '账号', 'verify' => ''], '')}
{:form_input('db_password', 'text', ['label' => '密码', 'verify' => ''], '')}
{:form_input('os_type', 'text', ['label' => 'OsType', 'verify' => ''], '')}
{:form_date('last_online_time', ['label' => 'LastOnlineTime', 'verify' => ''])}
{:form_input('use_desc', 'text', ['label' => 'UseDesc', 'verify' => ''], '')}

    {:form_submitbtn()}
</form>