<form class="layui-form" lay-filter="form">
    {:form_input('TABLE_NAME', 'text', ['label' => 'Tablename', 'verify' => 'required','disabled'=>true], '')}
    {:form_radio('ENGINE' ,$engineList, ['label' => 'Engine', 'verify' => 'required'], '2')}
    {:form_input('TABLE_COMMENT', 'text', ['label' => 'Explain', 'verify' => 'required'], '')}
    {:form_input('TABLE_ROWS', 'text', ['label' => 'Rows', 'verify' => '','disabled'=>true], '')}
    {:form_input('TABLE_COLLATION', 'text', ['label' => 'Collation', 'verify' => '','disabled'=>true], '')}
    {:form_submitbtn()}
</form>

