<table class="layui-table" id="list" lay-filter="list"
       data-node-add="{:auth(addons_url('add'))}"
       data-node-edit="{:auth(addons_url('edit'))}"
       data-node-delete="{:auth(addons_url('delete'))}"
       data-node-destroy="{:auth(addons_url('destroy'))}"
       data-node-modify="{:auth(addons_url('modify'))}"
       data-node-recyle="{:auth(addons_url('recyle'))}"
       data-node-restore="{:auth(addons_url('index'))}"
       data-node-import="{:auth(addons_url('import'))}"
       data-node-export="{:auth(addons_url('export'))}"
       data-node-delFile="{:auth(addons_url('delFile'))}"
       data-node-clear="{:auth(addons_url('clear'))}"
       data-primaryKey="id"
></table>
<script>
    var typeList = {:json_encode($engineList)};var id = "{$id}";
</script>